<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817735480809-fkvdokgf43au8de0cgl5hf240f4ku5sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817735480809-fkvdokgf43au8de0cgl5hf240f4ku5sg</string>
	<key>API_KEY</key>
	<string>AIzaSyCiRRMnwMtp07KvGmhNBYSF6gbwtlsG8aM</string>
	<key>GCM_SENDER_ID</key>
	<string>817735480809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.treo.dotcomplypro</string>
	<key>PROJECT_ID</key>
	<string>complypro-bd475</string>
	<key>STORAGE_BUCKET</key>
	<string>complypro-bd475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817735480809:ios:ee04001ac95ccee4870778</string>
</dict>
</plist>